@import 'tailwindcss';
@plugin 'lightswind/plugin';
@import '../styles/tailwind.css';

@theme {
  --color-kbackground: var(--kbackground);
  --color-kforeground: var(--kforeground);
  --color-kpanal: var(--kpanal);
  --color-kborder: var(--kborder);
  --color-knetural-default: var(--knetural-default);
  --color-ksubtle: var(--ksubtle);
  --color-kdescription: var(--kdescription);
  --color-ksecondary: #4a46ad;
}

:root {
  /* Base colors */
  --kbackground: #f8f9ff;
  --kforeground: #20212c;
  --kpanal: #ffffff;
  --kborder: #e4e7ec;
  --knetural-default: #474552;
  --kdescription: #828fa3;
  --ksubtle: #eff4ff;
}

.dark {
  /* Base colors */
  --kbackground: #20212c;
  --kforeground: #f8f9ff;
  --kpanal: #2b2c37;
  --kborder: #3e3f4e;
  --knetural-default: #828fa3;
  --ksubtle: #020617;
}

@layer utility {
  .k-background {
    @apply bg-kbackground text-kforeground;
  }
  .k-panal {
    @apply bg-kpanal;
  }

  .scroll-container::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  .scroll-container::-webkit-scrollbar-track {
    background-color: var(--kpanal);
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* typography */
  .bold-12 {
    font-size: 12px;
    font-weight: bold;
  }
  .bold-20 {
    font-size: 20px;
    font-weight: bold;
  }
  .bold-14 {
    font-size: 14px;
    font-weight: bold;
  }

  /* /typography */
  .modal-content {
    @apply lg:max-w-120 w-120 rounded-modal p-8;
  }
}
